{% extends 'base.html.twig' %}

{% block contenu %}
<center>
<h3 class = "display-4">
    {% if action == "ajouter" %}
    Enregistrez votre nouvelle entreprise
    {% else %}
    Apportez vos modifications à l'entreprise
    {% endif %}
</h3>
</br></br>
</center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                {{ form_start(vueFormulaire, {'attr':{'novalidate':'novalidate'}}) }}

                <label>Nom</label>
                {{ form_widget(vueFormulaire.nom, {'attr' : {'placeholder':"Lauak, Fiducial, Technoflex, ..."}}) }}
                {{ form_errors(vueFormulaire.nom) }}<br>

                <label>Activité</label>
                {{ form_widget(vueFormulaire.activite, {'attr' : {'placeholder':"Activité de l'entreprise..."}}) }}
                {{ form_errors(vueFormulaire.activite) }}<br>

                <label>Adresse</label>
                {{ form_widget(vueFormulaire.adresse, {'attr' : {'placeholder':"3 Chemin du Gaspalon 64530 PONTACQ"}}) }}
                {{ form_errors(vueFormulaire.adresse) }}<br>


                <label>Site Web</label>
                {{ form_widget(vueFormulaire.siteWeb, {'attr' : {'placeholder':"https://example.com"}}) }}
                {{ form_errors(vueFormulaire.siteWeb) }}<br>

                <button type="submit" class="btn btn-dark">Enregistrer</button>

                {{ form_end(vueFormulaire) }}
            </div>
        </div>
    </div>
{% endblock %}