{% extends 'base.html.twig' %}

{% block contenu %}
<center>
<h3 class = "display-4">
    {% if action == "ajouter" %}
    Enregistrez votre nouvelle entreprise
    {% else %}
    Apportez vos modifications à l'entreprise
    {% endif %}
</h3>
</br></br>
</center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                {{ form_start(vueFormulaire) }}

                
                {{ form_row(vueFormulaire.nom, {'attr' : {'placeholder':"Lauak, Fiducial, Technoflex, ..."}}) }}

                <label>Activité</label>
                {{ form_widget(vueFormulaire.activite, {'attr' : {'placeholder':"Activité de l'entreprise..."}}) }}
                {{ form_errors(vueFormulaire.nom) }}

                {{ form_row(vueFormulaire.adresse, {'attr' : {'placeholder':"3 Chemin du Gaspalon 64530 PONTACQ"}}) }}

                {{ form_row(vueFormulaire.siteWeb, {'attr' : {'placeholder':"https://example.com"}}) }}

                <button type="submit" class="btn btn-dark">Enregistrer</button>

                {{ form_end(vueFormulaire) }}
            </div>
        </div>
    </div>
{% endblock %}