{% extends 'base.html.twig' %}

{% block contenu %}
<center><h2 class = "display-4">Les Entreprises</h2></center>
</br></br></br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Site Web</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for entrepriseCourante in entreprises %}
                              <tr>
                                <td>
                                <a href="{{path('pro_stage_stages_par_nom_entreprise',{nomEntreprise:entrepriseCourante.nom})}}" style = "color:white; text-decoration:none">
                                {{entrepriseCourante.nom}}
                                </a>
                                </td>
                                <td>{{entrepriseCourante.adresse}}</td>
                                <td>{{entrepriseCourante.siteWeb}}</td>
                                
                                <td> <a href="{{path('pro_stage_modification_entreprise', {id:entrepriseCourante.id})}} class="link"><i class="icon-edit" style = "color:white; text-decoration:none"></i></a> </td>
                                
                              </tr>
                              {% endfor %}
                            </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                  <center><h1>Trier par : </h1></center></br>
                    <div class="list-group">
                        <a href="{{path('pro_stage_entreprises')}}" class="list-group-item">
                            La liste des entreprises
                        </a>
                        <a href="{{path('pro_stage_formations')}}" class="list-group-item">La liste des formations</a>
                    </div>
                    </br><center>
                    {% if is_granted('ROLE_ADMIN') %}
                    <input type="button" class="btn btn-dark" value ="Ajouter une Entreprise" onclick="self.location.href='{{path('pro_stage_ajout_entreprise')}}'"><br><br>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <input type="button" class="btn btn-dark" value ="Ajouter un Stage" onclick="self.location.href='{{path('pro_stage_ajout_stage')}}'">
                    {% endif %}
                    </center>
                </div>
            </div>
        </div>

{% endblock %}