{% extends 'base.html.twig' %}

{% block contenu %}
<center>
  <h2 class = "display-4">Les Formations</h2>
</center>
</br></br></br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Nom Court</th>
            <th scope="col">Nom Long</th>
          </tr>
        </thead>
        <tbody>
          {% for formationCourante in formations %}
          <tr>
            <td>
            <a href="{{path('pro_stage_stages_par_formation',{nomCourt:formationCourante.nomCourt})}}" style = "color:white; text-decoration:none">
              {{formationCourante.getNomCourt}}
            </a>
            </td>
            <td>
            <a href="{{path('pro_stage_stages_par_formation',{nomCourt:formationCourante.nomCourt})}}" style = "color:white; text-decoration:none">
              {{formationCourante.nomLong}}
            </a>
            </td>
            <td>
            <a href="{{ path('formation_show', {'id': formationCourante.id}) }}">Consulter</a>
            <a href="{{ path('formation_edit', {'id': formationCourante.id}) }}">Modifier</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <center>
        <h1>Trier par : </h1>
      </center></br>
      <div class="list-group">
        <a href="{{path('pro_stage_entreprises')}}" class="list-group-item">
          La liste des entreprises
        </a>
        <a href="{{path('pro_stage_formations')}}" class="list-group-item">La liste des formations</a>
      </div>
      </br><center>
      {% if is_granted('ROLE_ADMIN') %}
      <input type="button" class="btn btn-dark" value ="Ajouter une Entreprise" onclick="self.location.href='{{path('pro_stage_ajout_entreprise')}}'"><br><br>
      {% endif %}      
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <input type="button" class="btn btn-dark" value ="Ajouter un Stage" onclick="self.location.href='{{path('pro_stage_ajout_stage')}}'">
      {% endif %}
      </center>
    </div>
  </div>
</div>

{% endblock %}