{% extends 'base.html.twig' %}

{% block contenu %}

<center>
<h1 class = "display-4">
    {%for stageCourant in stage %}
    {{stageCourant.titre}}
    {% endfor %}
</h1>
</center>

</br></br></br></br>




    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                
<ul class = "list-group">
    {%for stageCourant in stage %}
    <li class = "list-group-item"> <strong>Nom de l'entreprise : </strong>
        {{stageCourant.nomEntreprise.getNom}}
    </li>

    <li class = "list-group-item"> <strong>Description : </strong>
        {{stageCourant.description}}
    </li>

    <li class = "list-group-item"> <strong>Email : </strong>
        {{stageCourant.email}}
    </li>

    <li class = "list-group-item"> <strong>Formations concernées : </strong>
        {% for formationCourante in stageCourant.formations %}
            {{formationCourante.nomCourt}}
            -
            {{formationCourante.nomLong}} </br>
        {% endfor %}
    </li>
    {% endfor %}
</ul>                
            </div>
            <div class="col-md-3">
              <center><h2>Obtenir la liste des : </h2></center></br>
                <div class="list-group">
                    <a href="{{path('pro_stage_entreprises')}}" class="list-group-item">
                        Entreprises
                    </a>
                    <a href="{{path('pro_stage_formations')}}" class="list-group-item">Formations</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}