<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        {% endblock %}
    </head>
    <body>
        
      <div class="container-full">
        <div class="row">
          <div class="col-md-12">

        {% block menu %}
         <div class="p-3 mb-2" style="background-color: lightsteelblue">
           <center><h1 class="icon-book-open" style="color:white"><a href="{{path('pro_stage_accueil')}}" style="color:white; text-decoration: none"> ProStages </a></h1></center>
         </div>
        {% endblock %}
          </div>
        </div>
      </div>
        {% block contenu %}
    </br></br></br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">Formation</th>
                                <th scope="col">Entreprise</th>
                                <th scope="col">Proposition</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>DUT Informatique</td>
                                <td>bizKor</td>
                                <td>Stage de développement JavaScript</td>
                              </tr>
                              <tr>
                                <td>BTS</td>
                                <td>Total</td>
                                <td>Stageb de data analyst</td>
                              </tr>
                              <tr>
                                <td>Licence Professionnelle</td>
                                <td>Fiducial</td>
                                <td>Stage de développement d'application comptable</td>
                              </tr>
                            </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <center><h1>Trier par : </h1></center></br>
                    <div class="list-group">
                        <a href="{{path('pro_stage_entreprises')}}" class="list-group-item">
                            La liste des entreprises
                        </a>
                        <a href="{{path('pro_stage_formations')}}" class="list-group-item">La liste des formations</a>
                    </div>
                </div>
            </div>
        </div>
        
        {% endblock %}

        {% block footer %}
        <p>Site réalisé avec les frameworks <a href="https://symfony.com/">Symfony</a> et <a href="https://getbootstrap.com/">BootStrap</a>.</p>
        {% endblock %}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
